{% extends "base.html" %}
{% block title %}MOST WEB EXAMPLES{% endblock %}
{% block content %}
<h1>WEB API EXAMPLE</h1>
<div class="panel-group" id="accordion">
  <!-- Nav tabs -->
  <ul class="nav nav-pills">
    <li class="active"><a href="#home" data-toggle="pill">Home</a></li>
    <li><a href="#task_group" data-toggle="pill">Section</a></li>
    <li><a href="#most_user" data-toggle="pill">Exam</a></li>
    <li><a href="#clinician_user" data-toggle="pill">Visit</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="home">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="panel">
            <div class="panel-body">
              To access to API do login
              <a class="btn btn-default btn-lg" href="#api-launcher" data-toggle="modal" id="login" role="button">/user/login/</a>
              <a class="btn btn-default btn-lg" href="#api-launcher" data-toggle="modal" id="logout" role="button">/user/logout/</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="section">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Section API</h3>
            </div>
            <div class="panel-body">
              <div class=" btn-group-vertical">
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="section_func_1" role="button">/section/new/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="section_func_2" role="button">/section/(?P&lt;section_id&gt;\d+)/edit/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="section_func_3" role="button">/section/(?P&lt;section_id&gt;\d+)/delete/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="section_func_4" role="button">/section/search/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="section_func_5" role="button">/section/(?P&lt;section_id&gt;\d+)/get_info/</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 column">
          <div class="panel panel-success" id="section_results">
            <div class="panel-heading">
              <h3 class="panel-title">Results</h3>
            </div>
            <div class="panel-body" id="section_results_body"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="exam">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Exam API</h3>
            </div>
            <div class="panel-body">
              <div class=" btn-group-vertical">
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_1" role="button" >/exam/new/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_2" role="button">/exam/(?P&lt;exam_id&gt;\d+)/edit/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_3" role="button">/exam/(?P&lt;exam_id&gt;\d+)/delete/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_4" role="button">/exam/search/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_5" role="button">/exam/(?P&lt;exam_id&gt;\d+)/get_info/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_6" role="button">/exam/(?P&lt;exam_id&gt;\d+)/list_sections/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_7" role="button">/exam/(?P&lt;exam_id&gt;\d+)/add_section/(?P&lt;section_id&gt;\d+)/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_8" role="button">/exam/(?P&lt;exam_id&gt;\d+)/remove_section/(?P&lt;section_id&gt;\d+)/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="exam_func_9" role="button">/exam/(?P&lt;exam_id&gt;\d+)/set_clinician/(?P<user_id>\d+)/</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 column">
          <div class="panel panel-success" id="exam_results">
            <div class="panel-heading">
              <h3 class="panel-title">Results</h3>
            </div>
            <div class="panel-body" id="mexam_results_body"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="visit">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Visit API</h3>
            </div>
            <div class="panel-body">
              <div class=" btn-group-vertical">
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_1" role="button">/visit/new/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_2" role="button">/visit/(?P&lt;visit_id&gt;\d+)/edit/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_3" role="button">/visit/(?P&lt;visit_id&gt;\d+)/delete/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_4" role="button">/visit/search/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_5" role="button">/visit/(?P&lt;visit_id&gt;\d+)/get_info/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_6" role="button">/visit/(?P&lt;visit_id&gt;\d+)/get_full_info/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_7" role="button">/visit/(?P&lt;visit_id&gt;\d+)/list_exams/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_8" role="button">/visit/(?P&lt;visit_id&gt;\d+)/add_exam/(?P&lt;exam_id&gt;\d+)/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_9" role="button">/visit/(?P&lt;visit_id&gt;\d+)/remove_exam/(?P&lt;exam_id&gt;\d+)/</a>
                <a class="btn btn-default btn-api" href="#api-launcher" data-toggle="modal" id="visit_func_10" role="button">/visit/(?P&lt;visit_id&gt;\d+)/set_parent_visit/(?P&lt;parent_visit_id&gt;\d+)/</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 column">
          <div class="panel panel-success" id="visit_results">
            <div class="panel-heading">
              <h3 class="panel-title">Results</h3>
            </div>
            <div class="panel-body" id="visit_results_body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 column">
    <div class="modal fade" id="api-launcher" role="dialog" aria-labelledby="API Launcher" aria-hidden="true">

    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/demo/exam.js"></script>
<script src="/static/js/demo/section.js"></script>
<script src="/static/js/demo/visit.js"></script>
<script src="/static/js/demo/demo.js"></script>
{% endblock %}