{% extends "base_modal.html" %}
{% block modal_body %}
  <div class="row clearfix">
    <div class="col-md-12 column">
      <form class="form-horizontal" role="form" id="modal_form">
        <div class="ui-widget form-group" id="section_field">
          <label for="query-string" class="control-label">Query string</label>  <!--col-sm-4-->
           <input class="form-control" id="query-string" type="text" />
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
             <button type="submit" class="btn btn-default">Search section</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    $(function() {
        $( "#modal_form").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/exams/section/search/',
                type: 'GET',
                data: {
                    query_string: $( '#query-string' ).val()
                },
                dataType: 'text',
                success: function (data, textStatus, jqXHR) {
                    var jsonData = JSON.parse(data);
                    var beautifiedData = JSON.stringify(jsonData, null, 4);
                    $('#section_results_body').html('<div><pre class="pre-scrollable">' + beautifiedData + '</pre></div>');
                    if (jsonData.success) {
                        if ($('#section_results').hasClass('panel-danger')) {
                            $('#section_results').removeClass('panel-danger');
                        }
                        if (!$('#section_results').hasClass('panel-success')) {
                            $('#section_results').addClass('panel-success');
                        }
                    }
                    else {
                        $('#section_results_body').html('<div>' + jsonData.errors + '</div>');
                        if ($('#section_results').hasClass('panel-success')) {
                            $('#section_results').removeClass('panel-success');
                        }
                        if (!$('#section_results').hasClass('panel-danger')) {
                            $('#section_results').addClass('panel-danger');
                        }
                    }
                    $( '#api-launcher' ).modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#section_results_body').html('<div>' + textStatus + ': ' + errorThrown + '</div>');
                    if ($('#section_results').hasClass('panel-success')) {
                        $('#section_results').removeClass('panel-success');
                    }
                    if (!$('#section_results').hasClass('panel-danger')) {
                        $('#section_results').addClass('panel-danger');
                    }
                    $( '#api-launcher' ).modal('hide');
                }
            });
            return false;
        });
    });
  </script>
{% endblock %}