{% extends "base_modal.html" %}
{% block modal_body %}
  <div class="row clearfix">
    <div class="col-md-12 column">
      <form class="form-horizontal" role="form" id="modal_form">
        <div class="ui-widget form-group" id="visit_field">
          <label for="select_visit" class="control-label">Select visit</label>
             <input id="select_visit_id" type="hidden" />
             <input class="form-control" id="select_visit" type="text" />
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
             <button type="submit" class="btn btn-default">Get visit full info</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    $(function() {
        $( "#select_visit" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "/exams/visit/search/",
                    dataType: "json",
                    data: {
                        query_string: request.term
                    },
                    success: function( data ) {
                        response( $.map( data.data, function( item ) {
                            return {
                                label: item.medical_service.value + ' ' + item.speciality + ' ' + item.urgency.value +
                                       ' ' + item.visit_type.value + ' ' + item.state.value + ' ',
                                value: item.id,
                                medical_service: item.medical_service,
                                speciality: item.speciality,
                                urgency: item.urgency,
                                state: item.state,
                                visit_type: item.visit_type,
                                notes: item.notes,
                                reason: item.reason,
                                requesting_clinician: item.requesting_clinician,
                                start_datetime: item.start_datetime,
                                end_datetime: item.end_datetime,
                                is_active: item.is_active
                            }
                        }));
                    }
                });
            },
            minLength: 2,
            select: function( event, ui ) {
                $( "#select_visit" ).val( ui.item.label );
                $( "#select_visit_id" ).val( ui.item.value );
                return false;
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }});
        $( "#select_visit" ).autocomplete( "option", "appendTo", "#visit_field" );

        $( "#modal_form").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/exams/visit/' + $( "#select_visit_id" ).val() + '/get_full_info/',
                type: 'GET',
                dataType: 'text',
                success: function (data, textStatus, jqXHR) {
                    var jsonData = JSON.parse(data);
                    var beautifiedData = JSON.stringify(jsonData, null, 4);
                    $('#visit_results_body').html('<div><pre class="pre-scrollable">' + beautifiedData + '</pre></div>');
                    if (jsonData.success) {
                        if ($('#visit_results').hasClass('panel-danger')) {
                            $('#visit_results').removeClass('panel-danger');
                        }
                        if (!$('#visit_results').hasClass('panel-success')) {
                            $('#visit_results').addClass('panel-success');
                        }
                    }
                    else {
                        $('#visit_results_body').html('<div>' + jsonData.errors + '</div>');
                        if ($('#visit_results').hasClass('panel-success')) {
                            $('#visit_results').removeClass('panel-success');
                        }
                        if (!$('#visit_results').hasClass('panel-danger')) {
                            $('#visit_results').addClass('panel-danger');
                        }
                    }
                    $( '#api-launcher' ).modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#visit_results_body').html('<div>' + textStatus + ': ' + errorThrown + '</div>');
                    if ($('#visit_results').hasClass('panel-success')) {
                        $('#visit_results').removeClass('panel-success');
                    }
                    if (!$('#visit_results').hasClass('panel-danger')) {
                        $('#visit_results').addClass('panel-danger');
                    }
                    $( '#api-launcher' ).modal('hide');
                }
            });
            return false;
        });
    });
  </script>
{% endblock %}