{% extends "base_modal.html" %}
{% block modal_body %}
  <div class="row clearfix">
    <div class="col-md-12 column">
      <form class="form-horizontal" role="form" id="modal_form">
        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
             <button type="submit" class="btn btn-default">Create visit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    $(function() {
      $( "div.form-group > input" ).addClass( 'form-control' );
      $( "select" ).addClass( 'form-control' );

      $( "#modal_form").submit(function (event) {
          event.preventDefault();
          $.ajax({
              url: '/exams/visit/new/',
              type: 'POST',
              dataType: 'text',
              data: $( "#modal_form").serialize(),
              success: function (data, textStatus, jqXHR) {
                  var jsonData = JSON.parse(data);
                  var beautifiedData = JSON.stringify(jsonData, null, 4);
                  $('#exam_results_body').html('<div><pre class="pre-scrollable">' + beautifiedData + '</pre></div>');
                  if (jsonData.success) {
                      if ($('#visit_results').hasClass('panel-danger')) {
                          $('#visit_results').removeClass('panel-danger');
                      }
                      if (!$('#visit_results').hasClass('panel-success')) {
                          $('#visit_results').addClass('panel-success');
                      }
                  }
                  else {
                      $('#exam_results_body').html('<div>' + jsonData.errors + '</div>');
                      if ($('#visit_results').hasClass('panel-success')) {
                          $('#visit_results').removeClass('panel-success');
                      }
                      if (!$('#visit_results').hasClass('panel-danger')) {
                          $('#visit_results').addClass('panel-danger');
                      }
                  }
                  $( '#api-launcher' ).modal('hide');
              },
              error: function (jqXHR, textStatus, errorThrown) {
                  $('#visit_result_body').html('<div>' + textStatus + ': ' + errorThrown + '</div>');
                  if ($('#visit_results').hasClass('panel-success')) {
                      $('#visit_results').removeClass('panel-success');
                  }
                  if (!$('#visit_results').hasClass('panel-danger')) {
                      $('#visit_results').addClass('panel-danger');
                  }
                  $( '#api-launcher' ).modal('hide');
              }
          });
          return false;
      });
    });
  </script>
{% endblock %}